name: Release Package CI

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:          
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Docker Buildx (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        uses: docker/setup-buildx-action@v3

      - name: Build wujihandcpp (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.package-builder
          outputs: type=local,dest=build/wujihandcpp/
          cache-from: type=gha,scope=wujihandcpp-build-${{ matrix.os }}
          cache-to: type=gha,mode=max,scope=wujihandcpp-build-${{ matrix.os }}

      - uses: actions/upload-artifact@v4      
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: build-wujihandcpp-${{ matrix.os }}
          path: |
            build/wujihandcpp/*.deb
            build/wujihandcpp/*.rpm
            build/wujihandcpp/*.zip

      - name: Install dependencies with vcpkg (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          if ("${{ matrix.os }}" -eq "windows-latest") {
            $VCPKG_TRIPLET = "x64-windows"
          } elseif ("${{ matrix.os }}" -eq "windows-11-arm") {
            $VCPKG_TRIPLET = "arm64-windows"
          }
          echo "VCPKG_TRIPLET=$VCPKG_TRIPLET" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          vcpkg install libusb:$VCPKG_TRIPLET

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wujihandpy (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: python -m cibuildwheel --output-dir build/wujihandpy

      - name: Build wujihandpy (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          $VCPKG_ROOT = $env:VCPKG_INSTALLATION_ROOT -replace '\\','/'
          $env:CIBW_ENVIRONMENT_WINDOWS = "VCPKG_ROOT=$VCPKG_ROOT VCPKG_TRIPLET=$env:VCPKG_TRIPLET"
          python -m cibuildwheel --output-dir build/wujihandpy

      - uses: actions/upload-artifact@v4
        with:
          name: build-wujihandpy-${{ matrix.os }}
          path: build/wujihandpy/*.whl

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/wujihandpy
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Extract git tag & generate change log
        run: |
          GIT_TAG="$(git describe --tags --abbrev=0)"
          echo "GIT_TAG=$GIT_TAG" >> "$GITHUB_ENV"
          echo "Using git tag: $GIT_TAG"
          docker run -v "$PWD":/workdir quay.io/git-chglog/git-chglog $GIT_TAG > changelog.md
          cat changelog.md

      - name: Download wujihandcpp builds
        uses: actions/download-artifact@v5
        with:
          path: build/wujihandcpp
          pattern: build-wujihandcpp-*
          merge-multiple: true

      - name: Download wujihandpy builds
        uses: actions/download-artifact@v5
        with:
          path: build/wujihandpy
          pattern: build-wujihandpy-*
          merge-multiple: true

      - name: Publish distribution to PyPI
        if: github.ref_type == 'tag'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: build/wujihandpy

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body_path: changelog.md
          draft: false
          prerelease: true
          make_latest: false
          files: build/wujihandcpp/*
